.MainFocus {
	font-size: 55px;
	color: white;
	padding-left: 20px;
}

.creds {
	color:white;
	margin: 26px;
	font-family: 'Noto Sans';
	display: block;
	line-height: 0px;
}

.logo{
	color:white;
	text-align: left;
	font-size: 16px;
	/*text-decoration: underline;*/
	font-family: 'Damion';
}

.searchBox {
	color: white;
	width: 100%;
	text-align: center;
}

#srch{
    /*background-color: white;/
	background-color: rgba(0, 0, 0, 0.6);*/
	background-color: rgba(185, 185, 185, 0.7);
	font-size: 24px;
	border: none;
	border-radius: 8px;
	width: 350px;
	font-weight: normal;
	height: 45px;
	padding: 7px;
}

.icons {
	font-size: 22px;
	margin-right: 10px;
}

a:hover.logo{
	color: white;
	text-decoration: underline;
}

a:link.cmLinks {
	color: white;
	font-family: 'Noto Sans';
	font-size: 12px;
}

a:hover.cmLinks {
	color: white;
}

a:visited.cmLinks {
	color: white;
}

a:active.cmLinks {
	color: white;
}

/*

* Based on Cover by https://twitter.com/mdo"  @mdo
* added cover image and background color to match (green)
*
* Globals

*/

/*
* Base structure
*/

html,
body {
	/*css for full size background image*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	height: 100%;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}

/* Padding for spacing */
.inner {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 7px;
}

/*
* Cover
*/

.cover {
	padding: 0 20px;
}
.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}


/*
* Footer
*/
.mastfoot {
	color: #999; /* IE8 proofing */
	color: rgba(255,255,255,.5);
	position: fixed;
	bottom: 0;
}

/*
* Affix and center
*/
.masthead {
	position: fixed;
	top: 0;
}

/* Start the vertical centering */
.site-wrapper-inner {
	vertical-align: middle;
}

/* Handle the widths */
.masthead,
.mastfoot,
.cover-container {
	width: 100%; /* Must be percentage or pixels for horizontal alignment */
}

@media (min-width: 992px) {
	.masthead,
	.mastfoot,
	.cover-container {
		width: 700px;
	}
}
